<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container is-max-widescreen">
        <article class="message is-primary">
            <div class="message-header">
            <h1 class="title is-1">Disney API</h1>
            </div>
            <div class="tabs is-right">
                <ul>
                <li><button class="button is-primary is-inverted">Register</button></li>
                <li><button class="button is-link is-inverted">Login</button></li>
                </ul>
            </div>
            <div class="message-body">
            Bienvenidos a una <em>API</em> que nos facilita explorar el mágico mundo de <strong>Disney</strong> a través de los personajes, series y películas que lo componen. 
            </div>
        </article>
        <div class="tabs is-right">
            <button class="button is-primary is-light is-large" id="showCharacter">Personaje</button>
            <button class="button is-primary is-light is-large" id="showMovie">Película</button>
            <button class="button is-primary is-light is-large" id="showSerie">Serie</button>
            <button class="button is-primary is-light is-large" id="showGenre">Género</button>
        </div>
    <!--FORMULARIO PERSONAJE-->    
        <div class="container is-max-desktop is-hidden" id="characterFormContainer">
        <div class="notification">
        <form method="POST">  
        <div class="message is-primary">
            <div class="message-header">
            <h3 class="title is-3">Personaje</h3>
                <button class="delete" id="characterDeleteBtn"></button>
            </div>
        </div>
        <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Subí la imagen del personaje…
                </span>
              </span>
              <span class="file-name">
                nombreDelArchivo.formato
              </span>
            </label>
          </div>
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                <input class="input" type="text" name="charName">
                </div>
            </div>
            <div class="field is-grouped">
                <label class="label">Edad </label>
                <div class="control">
                <input class="input" type="number" name="age">
                </div>
                <label class="label">Peso</label>
                <div class="control">
                <input class="input" type="number" name="weight">
                </div>
            </div>
            <div class="field">
                <label class="label">Historia</label>
                <div class="control">
                <textarea class="textarea" name="story"></textarea>
                </div>
            </div>
            <!--
                <div>
                <span class="tag is-primary is-light">Asociado</span>
                <span class="tag is-primary is-light">Asociado</span>
                <span class="tag is-primary is-light">Asociado</span>
                </div>-->
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" type="submit">Agregar</button>
            </div>
            <div class="control">
                <button class="button is-primary is-light" type="submit">Editar</button>
            </div>
            <div class="control">
                <button class="button is-danger is-light" type="submit">Eliminar</button>
              </div>
            <div class="control">
              <button class="button is-link is-light" type="reset">Cancel</button>
            </div>
          </div>
        </form>
        </div>
        </div>
    <!--FORMULARIO PELICULA-->    
        <div class="container is-max-desktop is-hidden" id="movieFormContainer">
            <div class="notification">
            <form method="POST">  
            <div class="message is-primary">
                <div class="message-header">
                <h3 class="title is-3">Película</h3>
                    <button class="delete" id="movieDeleteBtn"></button>
                </div>
            </div>
            <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Subí la portada de la película…
                    </span>
                  </span>
                  <span class="file-name">
                    nombreDelArchivo.formato
                  </span>
                </label>
              </div>
                <div class="field">
                    <label class="label">Título</label>
                    <div class="control">
                    <input class="input" type="text" name="title">
                    </div>
                </div>
                <div class="field is-grouped">
                    <label class="label">Fecha </label>
                    <div class="control">
                    <input class="input" type="date" name="createdAt">
                    </div>
                    <label class="label">Ranking</label>
                    <div class="control">
                    <input class="input" type="number" name="ranking">
                    </div>
                </div> 
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary" type="submit">Agregar</button>
                </div>
                <div class="control">
                    <button class="button is-primary is-light" type="submit">Editar</button>
                </div>
                <div class="control">
                    <button class="button is-danger is-light" type="submit">Eliminar</button>
                  </div>
                <div class="control">
                  <button class="button is-link is-light" type="reset">Cancel</button>
                </div>
              </div>
            </form>
            </div>
        </div>
    <!--FORMULARIO SERIE-->    
        <div class="container is-max-desktop is-hidden" id="serieFormContainer">
            <div class="notification">
            <form method="POST">  
            <div class="message is-primary">
                <div class="message-header">
                <h3 class="title is-3">Serie</h3>
                    <button class="delete" id="serieDeleteBtn"></button>
                </div>
            </div>
            <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Subí la portada de la serie…
                    </span>
                  </span>
                  <span class="file-name">
                    nombreDelArchivo.formato
                  </span>
                </label>
              </div>
                <div class="field">
                    <label class="label">Título</label>
                    <div class="control">
                    <input class="input" type="text" name="title">
                    </div>
                </div>
                <div class="field is-grouped">
                    <label class="label">Fecha </label>
                    <div class="control">
                    <input class="input" type="date" name="createdAt">
                    </div>
                    <label class="label">Ranking</label>
                    <div class="control">
                    <input class="input" type="number" name="ranking">
                    </div>
                </div> 
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary" type="submit">Agregar</button>
                </div>
                <div class="control">
                    <button class="button is-primary is-light" type="submit">Editar</button>
                </div>
                <div class="control">
                    <button class="button is-danger is-light" type="submit">Eliminar</button>
                  </div>
                <div class="control">
                  <button class="button is-link is-light" type="reset">Cancel</button>
                </div>
              </div>
            </form>
            </div>
        </div>
    <!--FORMULARIO GENERO-->
    <div class="container is-max-desktop is-hidden" id="genreFormContainer">
        <div class="notification">
        <form method="POST">  
        <div class="message is-primary">
            <div class="message-header">
            <h3 class="title is-3">Género</h3>
                <button class="delete" id="genreDeleteBtn"></button>
            </div>
        </div>
        <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  imagen…
                </span>
              </span>
              <span class="file-name">
                nombreDelArchivo.formato
              </span>
            </label>
          </div>
            <div class="field">
                <label class="label">Nombre del género</label>
                <div class="control">
                <input class="input" type="text" name="genreTitle">
                </div>
            </div>
            <div class="field">
                <label class="label">titulos asociados</label>
                <div class="control">
                <input class="input" type="text" name="associatedTitle">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary" type="submit">Agregar</button>
                </div>
                <div class="control">
                    <button class="button is-primary is-light" type="submit">Editar</button>
                </div>
                <div class="control">
                    <button class="button is-danger is-light" type="submit">Eliminar</button>
                  </div>
                <div class="control">
                  <button class="button is-link is-light" type="reset">Cancel</button>
                </div>
              </div>
    </div>
<script src="../../scripts/index.js"></script>
</body>
</html>